{
  "presets": ["airbnb", "stage-1"],
  "plugins": [
    ["babel-plugin-root-import", [{
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }, {
      "rootPathPrefix": "@",
      "rootPathSuffix": "test"
    }]]
  ]
}
